@import './common.styl'

.app
    font-family: sans-serif

.notebook
    padding: gutter gutter gutter*2.4
    border: 1px solid #aaa


.board
    ul  // top
        background-color: lighten(orange, 82%)
        padding: 10pt 20pt
        list-style-type: none
        display: flex

        li  // column
            flex: 1
            color: darken(red, 30%)
            text-align: center
            font-weight: bold
            margin: 0 6pt

            ul  // card list container
                display: block
                background-color: #ddd
                border-radius: 20pt
                border: 1px solid black

                li  // card
                    background-color: white
                    border-radius: 4pt
                    margin-bottom: 8pt
                    padding: 12pt
                    text-align: left